@{
    ViewBag.Title = "Home Page";
}

<div class="panel panel-primary top15">
    <div class="panel-heading">
        <h3 id="form-header" class="panel-title">Volunteers</h3>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Background Check</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>