@{
    ViewBag.Title = "Home Page";
}

<div id="volunteerScope">
    
    <div class="row">
        <span class="alert alert-danger col-sm-offset-2 col-sm-8 top5"
              data-bind="visible: errorMessageVisible" style="display: none">
              
            <span class="glyphicon glyphicon-warning-sign"></span>
            <span data-bind="html: errorMessage"></span>
        </span>
          
    </div>

    <div class="panel panel-primary top15">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6"><h3 id="form-header" class="panel-title">Volunteers</h3></div>
                <div class="col-md-6"><button type="button" class="btn btn-info pull-right" data-bind="click: showNew">New</button></div>
            </div>

            </div>
        <div class="panel-body">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Background Check</th>
                    <th></th>
                </tr>
                </thead>
                <tbody data-bind="foreach:volunteers">
                <tr>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Email"></td>
                    <td data-bind="text: BackgroundCheck"></td>
                    <td><button type="button" class="btn btn-primary" data-bind="click: $parent.showDetail">View</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="detail-dialog" class="modal fade" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><span data-bind="text: selectedUserName"></span></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="col-md-5 control-label">Name</label>
                        <input type="text" class="form-control" data-bind="value: selectedUserName"/>
                    </div> 
                    <div class="row">
                        <label class="col-md-5 control-label">Email</label>
                        <input type="text" class="form-control" data-bind="value: selectedUserEmail" />
                    </div> 
                    <div class="row">
                        <label class="col-md-5 control-label">Phone</label>
                        <input type="text" class="form-control" data-bind="value: selectedUserPhone" />
                    </div> 
                    <div class="row">
                        <label class="col-md-5 control-label">Last Background Check</label>
                        <input type="text" class="form-control" data-bind="value: selectedUserBackgroundCheck" />
                    </div> 
                    <div class="row">
                        <label class="col-md-5 control-label">Students</label>
                        <input type="text" class="form-control" data-bind="value: selectedUserStudents" />
                    </div> 
                    <div class="row">
                        <label class="col-md-5 control-label">Teachers</label>
                        <input type="text" class="form-control" data-bind="value: selectedUserTeachers" />
                    </div> 
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" data-bind="click: deleteSelected">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: saveChanges" data-dismiss="modal">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
    

</div>

@section scripts
{
    @Scripts.Render("~/Scripts/application/viewmodels/VolunteerViewModel.js")

    <script type="text/javascript">

        $(document).ready(function() {
            var baseUrl = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "Volunteer"})';
            var detailDialog = $("#detail-dialog");

            var viewModel = new VolunteerViewModel(baseUrl, detailDialog);
            ko.applyBindings(viewModel);

            viewModel.getVolunteers();
        });

    </script>
}