@if (Data == null)
{
    <MatProgressCircle Indeterminate="true" FourColored="true" />
}
else
{
    <MatTable Items="@Data" class="mat-elevation-z5" ShowPaging="false" UseSortHeaderRow="true" PageSize="10000">
        <MatTableHeader>
            <MatSortHeaderRow SortChanged="@SortData">
                <MatSortHeader></MatSortHeader>
                <MatSortHeader SortId="name">Name</MatSortHeader>
            </MatSortHeaderRow>
        </MatTableHeader>
        <MatTableRow>
            <td>
                <EntityActionCommandBar EditCommand="EditCommand" DeleteCommand="DeleteCommand" Id="@context.Id" />
            </td>
            <td>@context.Name</td>
        </MatTableRow>
    </MatTable>
}