<AuthorizeView>
    <Authorized>
        <a href="user">@context.User.Identity.Name</a>
    </Authorized>
    <NotAuthorized>
        <a href="AzureAD/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
