@page "/"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">

        <div class="mat-layout-grid-cell-span-12">
            <h1 class="mat-h1">Watch DOGS Manager</h1>
        </div>

    </div>
</div>