@page "/organizations"
<EntityTypeHeader Type="Organizations" />

<MatButton Raised="true" OnClick="OpenNewDialog">New Organization</MatButton>
<br />
<watchdogmanager.blazor.Components.Organizations.OrganizationGrid Data="Data" OnEdit="OnEdit" OnDelete="OnDelete" />

<MatDialog @bind-IsOpen="@DialogIsOpen">
    <MatDialogTitle>Details</MatDialogTitle>
    <MatDialogContent>
        <watchdogmanager.blazor.Components.Organizations.OrganizationDetail Data="SelectedItem" />
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="CancelClick">Cancel</MatButton>
        <MatButton OnClick="SaveClick">Save</MatButton>
    </MatDialogActions>
</MatDialog>

<br/>
<h5 class="mat-h5">Default Organization</h5>
<MatAppBarSection Align="@MatAppBarSectionAlign.End">
    @if (AppState.Organizations != null)
    {
        <MatSelectItem @bind-Value="@AppState.CurrentOrganization" Items="@AppState.Organizations">
            <ItemTemplate>
                @context?.Name
            </ItemTemplate>
        </MatSelectItem>
    }
</MatAppBarSection>

