@page "/scheduletemplates"
<h2 class="mat-h2">Schedule Templates</h2>

<MatButton Raised="true" OnClick="AddNew">New Schedule Template</MatButton>
<br />

<watchdogmanager.blazor.Components.ScheduleTemplates.ScheduleTemplateGrid Data="Data" OnEdit="OnEdit" OnDelete="OnDelete" />

