@page "/volunteers"
<EntityTypeHeader Type="Volunteers" OnAdd="OpenNewDialog" AddCommandText="Add Volunteer"/>


<watchdogmanager.blazor.Components.Volunteers.VolunteerGrid Data="Data"  OnEdit="OnEdit" OnDelete="OnDelete" />

<MatDialog @bind-IsOpen="@DialogIsOpen">
    <MatDialogTitle>Details</MatDialogTitle>
    <MatDialogContent>
        <div style="min-width:300px">
            <watchdogmanager.blazor.Components.Volunteers.VolunteerDetail Data="SelectedItem" AvailableInstructors="AvailableInstructors" />
        </div>
    </MatDialogContent>
    <MatDialogActions>
        <EntityEditCommandBar OnSave="SaveClick" OnCancel="CancelClick" />
    </MatDialogActions>
</MatDialog>